.hide {
    display: none;
}

.playing_field {
    width: 300px;
    height: 300px;
}


.playing_field > ol > ol > li {
    display: inline-block;
    width: 75px;
    height: 75px;
}

.playing_field li.fixed {
    opacity: 0.3;
}

.playing_field li.green {
    background-color: green;
}

.playing_field li.red {
    background-color: red;
}

.playing_field li.blue {
    background-color: blue;
}

.playing_field li.yellow {
    background-color: yellow;
}

.playing_field li.empty {
    background-color: #aaaaaa;
}



.choose_color_overlay {
    width: 260px;
    height: 300px;
    padding: 20px;
    background-color: #111111;
}

.choose_color_overlay li {
    display: inline-block;
    width: 45px;
    height: 45px;
}

.choose_color_overlay li.selected {
    outline: #ffffff 2px solid;
}

.choose_color_overlay li.green {
    background-color: green;
}

.choose_color_overlay li.red {
    background-color: red;
}

.choose_color_overlay li.blue {
    background-color: blue;
}

.choose_color_overlay li.yellow {
    background-color: yellow;
}

.choose_color_overlay li.empty {
    background-color: #aaaaaa;
}

.level_list {
    width: 260px;
    height: 300px;
    padding: 20px;
    background-color: #111111;
}

.level_list li {
    background-color: #222222;
    color: #ffffff;
    margin: 10px 0;
    padding: 10px 10px;
}
