body {
    font-family: HelveticaNeue-Light, Helvetica, Arial, Sans-serif;
}
.hide {
    display: none;
}

.playing_field {
    width: 340px;
    height: 340px;
}


.playing_field > ol > ol > li {
    display: inline-block;
    width: 75px;
    height: 75px;
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin:5px;
    
}

.playing_field li.fixed {
    opacity: 0.5;
}


.playing_field li.green {
    background-color: green;
}


.playing_field li.red {
    background-color: red;
}

.playing_field li.blue {
    background-color: blue;
}

.playing_field li.yellow {
    background-color: yellow;
}

.playing_field li.empty {
    background-color: #aaaaaa;
}

.red, .green, .blue, .yellow, .empty {
    -webkit-background-size:100% 100%;
}

.pig .red {
    background-image:url('../img/pig_red.jpg');
}
.pig .blue {
    background-image:url('../img/pig_blue.jpg');
}
.pig .green {
    background-image:url('../img/pig_green.jpg');
}
.pig .yellow {
    background-image:url('../img/pig_yellow.jpg');
}


.cow .red {
    background-image:url('../img/cow_red.jpg');
}
.cow .blue {
    background-image:url('../img/cow_blue.jpg');
}
.cow .green {
    background-image:url('../img/cow_green.jpg');
}
.cow .yellow {
    background-image:url('../img/cow_yellow.jpg');
}


.hare .red {
    background-image:url('../img/hare_red.jpg');
}
.hare .blue {
    background-image:url('../img/hare_blue.jpg');
}
.hare .green {
    background-image:url('../img/hare_green.jpg');
}
.hare .yellow {
    background-image:url('../img/hare_yellow.jpg');
}


.duck .red {
    background-image:url('../img/duck_red.jpg');
}
.duck .blue {
    background-image:url('../img/duck_blue.jpg');
}
.duck .green {
    background-image:url('../img/duck_green.jpg');
}
.duck .yellow {
    background-image:url('../img/duck_yellow.jpg');
}



.zebra .red,
.zebra .blue,
.zebra .green,
.zebra .yellow
 {
    background: url('../img/new/zebra.png') no-repeat scroll top left;
}

.tiger .red,
.tiger .blue,
.tiger .green,
.tiger .yellow
{
    background: url('../img/new/tiger.png') no-repeat scroll top left;
} 

.meerkat .red,
.meerkat .blue,
.meerkat .green,
.meerkat .yellow
{
    background: url('../img/new/meerkat.png') no-repeat scroll top left;
}

.hippo .red,
.hippo .blue,
.hippo .green,
.hippo .yellow
{
    background: url('../img/new/hippo.png') no-repeat scroll top left;
}



.choose_color_overlay {
    width: 260px;
    height: 300px;
    padding: 20px;
    background-color: #111111;
}

.choose_color_overlay li {
    display: inline-block;
    width: 45px;
    height: 45px;
}

.choose_color_overlay li.selected {
    outline: #ffffff 2px solid;
}

.choose_color_overlay li.green {
    background-color: green;
}

.choose_color_overlay li.red {
    background-color: red;
}

.choose_color_overlay li.blue {
    background-color: blue;
}

.choose_color_overlay li.yellow {
    background-color: yellow;
}

.choose_color_overlay li.empty {
    background-color: #aaaaaa;
}

.level_list {
    padding: 20px;
    background-color: #111111;
}

.level_list li {
    background-color: #222222;
    color: #ffffff;
    margin: 10px 0;
    padding: 10px 10px;
}
